*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    background-color: #f7f7f7;
}
.foot hr{
    width: 60%;
    margin: auto;
    color: #000;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/emphomepic.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 300px;
    height: 80px;
}
.nav-links{
    /* flex: 1; */
    text-align: right;
    display: flex;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 9px 12px 0px;
    position: relative;
}
.nav-links .emppropic{
    width: 40px;
    height: 40px;
    margin-left: 8px;
    border-radius: 50%;
    cursor: pointer;
}
/* ---------------profile dropdown---------------- */
.nav-links .sub-menu-wrap{
    position: absolute;
    top: 16%;
    right: 3.5%;
    width: 250px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.7s;
}
.nav-links .sub-menu-wrap.open-menu{
    max-height: 400px;
}
.nav-links .sub-menu-wrap .sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}
.nav-links .sub-menu-wrap .sub-menu .user-info{
    display: flex;
    align-items: center;
    justify-content: start;
}
.nav-links .sub-menu-wrap .sub-menu .user-info h4{
    font-weight: 500;
    color: #000;
}
.nav-links .sub-menu-wrap .sub-menu .user-info img{
width: 48px;
height: 48px;
border-radius: 50%;
margin-right: 10px;
}
.nav-links .sub-menu-wrap .sub-menu hr{
    width: 100%;
    height: 1px;
    border: 0;
    background: #ccc;
    margin: 15px 0px 10px;
}
.nav-links .sub-menu-wrap .sub-menu-link-wrapper{
    padding: 0px 12px 0px;
}
.nav-links .sub-menu-wrap .sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.nav-links .sub-menu-wrap .sub-menu-link p{
    width: 100%;
    text-align: start;
}
.nav-links .sub-menu-wrap .sub-menu-link p:hover{
    font-weight: 600;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}
.nav-links #hovereff::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #de4812d7;
    display: block;
    border-radius: 40%;
    margin: auto;
    transition: 1s;
}
.nav-links #hovereff:hover::after{
    width: 100%;
}
/*set a style for the buttons*/
.nav-links button{
    background-color: #de4812d7;
    color: white;
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    width: 100%;
}

/* set a hover effect for the button*/
button:hover {
    opacity: 0.8;
}
.header .text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 25px;
}
.header .text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 22px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #15b9a3d7;
    background: #15b9a3d7;
    transition: 1s;
}
.icon_for_navlink{
    display: none;
}
nav .icon_for_navlink .fas{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    nav img{
        width: 150px; 
    }
    .nav-links{
        position: fixed;
        background: #e15c2bd7;
        height: 100vh;
        width: 0%;
        top:0;
        right: 0;
        overflow-x: hidden;
        text-align: left;
        z-index: 1;
        transition: 0.5s;
        padding-top: 0px;
    }
    nav .icon_for_navlink .fas{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .nav-links ul li a{
        font-size: 15px;
    }

}

/* ---------------------------------------------service --------------------------------------------------*/

.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 33px;
    font-weight: 600;
}
.service p{
    color:rgb(48, 47, 47);;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.services-col{
    flex-basis: 22%;
    background: #e15c2bd7;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.services-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

@media(max-width:700px){
    h3{
        font-size: 18px;
    }
    p{
        font-size: 18px;
    }
    .row{
        flex-direction: column;
    }
}

/* -------------------------------------------------city ------------------------------------------------------*/


.city{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}
.city-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom:30px;
    position: relative;
    overflow: hidden;
}
.city-col img{
    width:100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: #e15c2bd7;
}
.layer h3{
    width: 100%;
    font-weight:500;
    color:#fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom:49%;
    opacity: 1;
}

/* --------------------------------------------------facilities -------------------------------------------------*/


.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;    
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* ----------------------------------------call us ----------------------------------------------*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(30, 30, 30, 0.7),rgba(30, 30, 30,0.7)),url(../images/emphomebanner.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
.cta h2{
    color: #fff;
    margin-bottom: 10px;
    padding: 0;
}
.cta h3{
    color: #e15c2bd7;
    margin-bottom: 10px;
    padding: 0;
}
@media(max-width:700px){
    .cta h1{
        font-size: 24px;
    }
    
}
/* footer */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h3{
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 600;
}
.footer p{
    font-size: 18px;
}


.icons .fab{
    color: #e15c2bd7;
    margin: 0 13px;
    cursor: pointer;
    padding:  18px 0;
}

/* -----------------------------------about us -------------------------------------------*/

.sub-header{
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/aboutuswall.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    /* text-align: center; */
    color: #fff;
}
.sub-header .text-box{
    width: 50%;
    color: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.sub-header .text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}
.sub-header h1{

    font-size: 40px;
    margin-top: 100px;
}
.sub-header .modal-content .container label{
    color: #000;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
	padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}
.cyan-btn{
    border: 1px solid #15b9a3d7;
    background: transparent;
    color: #15b9a3d7;
}
.cyan-btn:hover{
    color: #fff;
}

/* --------------------------------------help page -----------------------------------------*/

.help-header{
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/helping2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    /* text-align: center; */
    color: #fff;
}
.help-header h1{
    font-size: 40px;
    margin-top: 100px;
}
.help-header .text-box{
    width: 50%;
    color: #fff;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.help-header .text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}
.help-header .modal-content .container label{
    color: #000;
}
.wrapper{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .according .item input[type="radio"]{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.according{
    width: 60%;
    overflow: hidden;
}

.item{
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}
.title{
    background: #15b9a3d7;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.title:after{
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}

.content{
    background: #15b9a3d7;
    padding: 0 1em;
    color: black;
    max-height: 0;
    transition: all 0.35s;
}

input:checked + .title:after{
    transform: rotate(90deg);
}

input:checked ~ .content{
    max-height: 100vh;
    padding: 1em;
}
.help-ask{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/helpingask.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.ask{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
.help-box{
    /* border: 1px solid #ccc; */
    margin: 50px 0;
    padding: 10px 20px;
}
.help-form input, .help-form textarea{
    width:70%;
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #9adfe7;
}
.help-form button{
    width: 70%;
}
.modal-content .container textarea{
    width: 92%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    /* display: inline-block; */
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* ------------------------------------------login ----------------------------------------------------*/


.modal-content .container input[type=text],
.modal-content .container input[type=password],
.modal-content .container input[type=email]{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    /* display: inline-block; */
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.adminlink{
    text-decoration: none;
    color: #922820;
    cursor: pointer;
}

.modal-content .container .conrow input[type=password],
.modal-content .container .conrow input[type=email]{
    display: flex;
}
.modal-content .container .tabspace{
    padding-right:134px;
}
.modal-content .container .conrow{
    justify-content: space-between;
    display: flex;
}
.modal-content .container .remforgot{
    justify-content: space-between;
    display: flex;
}
.modal-content .container .remforgot .forp{
    align-items: end;
    display: flex;
}
.modal-content .container .conrow input[type=text],
.modal-content .container .conrow input[type=password]{
    right: 0;
}
.modal-content .container label{
    margin-top: 14px;
}
.modal-content .container .donthacc{
    justify-content: center;
    display: flex;
}
.modal-content .container button{
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.modal-content .container input[type=password] {
    color: #000;
}
.modal-content .imgcontainer h1{
    margin-top: 40px; 
    color: #f44336;
}

/*set extra style for the cancel button*/
.modal-content .container .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    right:0;
}

/*centre the display image inside the container*/
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
/*set image properties*/
.modal-content img.avatar {
    width: 40%;
    border-radius: 50%;
}

/*set padding to the container*/
.container {
    padding: 16px;
}

/*set the Modal background*/
.modal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}
.forbackdesign{
    background-color: #f44336 ;
}
/*style the model content box*/
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 1% auto 18% auto;
    border: 1px solid #888;
    width: 35%;
}

@media(max-width: 700px){
    .modal-content .container input[type=text],
    .modal-content .container input[type=password] {
        width: 60%;
        padding: 8px 10px;
        margin: 8px 0;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: 1% auto 18% auto;
        border: 1px solid #888;
        width: 80%;
    }
}

/*style the close button*/
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #f44336;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* ----------------------------------signup ----------------------------------------*/

.modal2 .reg-content {
    /* position: relative; */
    background-color: #fefefe;
    margin: 1% auto 1% auto;
    border: 1px solid #888;
    width: 80%;
}

/*centre the display image inside the container*/
.modal2 .reg-content .imgcontainer{
    text-align: center;
    margin: 18px 0 18px 0;
    position: flex;
}
.modal2 .reg-content .imgcontainer .close {
    position: absolute;
    right: 8%;
    top: 7%;
    color: #f44336;
    font-size: 35px;
    font-weight: bold;
}

.modal2 .reg-content .piccontainer{
    text-align: center;
    justify-content: center;
    display: flex;
    height: 350px;
    width: 100%;
    margin-top: 20px;
    
}
.modal2 .reg-content .piccontainer .picfigure{
    /* background-color: #f44336;
    border: dashed;
    border-color: #e15c2bd7 ; */
    height: 300px;
    width: 300px;
    /* left: 50%; */
    text-align: center;
    position: absolute;
    /* border-radius: 50%; */
    overflow: hidden;
}

/*set image properties*/
.modal2 .reg-content .piccontainer #avatar{
    height: 200px;
    width: 200px;
}

.modal2 .reg-content .piccontainer .picfigure #file{
    width: 60%;
    top: 300px;
    right: 47%;
    position: flex;
    text-align: end;
}
.modal2 .reg-content .piccontainer .picfigure #uploadbtn{
    height: 35px;
    width: 80%;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
}

.modal2 .reg-content .container label{
    margin-top: 14px;
}
.modal2 .reg-content .container input[type=submit]{
    background-color: #de4812d7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.modal2 .reg-content .container input[type=password] {
    color: #000;
}
.modal2 .reg-content .imgcontainer h1{
    margin-top: 40px; 
    color: #de4812d7;
}

/*set extra style for the cancel button*/
.modal2 .reg-content .piccontainer .cancelbtn {
    width: auto;
    height: 40px;
    margin-top: 5px;
    padding: 10px 18px;
    top: 400px;
    right: 47%;
    color: #fff;
    background-color: #de4812d7;
    position: absolute;
    border: none;
    
}


/*set padding to the container*/
.modal2 .reg-content .container {
    padding: 16px;
}

/*set the forgot password text*/
.modal2 .reg-content span .psw {
    padding-top: 16px;
}
.modal2 .reg-content .container .row{
    width: calc(100% / 2 - 100px);
    margin-top: 5%;
    display: inline-block;
    justify-content: space-between;
    padding: 12px 20px;
    margin: 20px 20px;
}
.modal2 .reg-content .container .rowprofile{
    width: 100%;
    margin-top: 5%;
    display: block;
    /* align-items: center; */
    justify-content: center;
    padding: 12px 20px;
    margin: 20px 20px;
}
.modal2 .reg-content .container .row input[type=text],
.modal2 .reg-content .container .row input[type=password],
.modal2 .reg-content .container .row input[type=email]{
    width: 100%;
    height: 45px;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.modal2 .reg-content .container .donthacc{
    justify-content: center;
    display: flex;
}

.modal2 .reg-content .container .row textarea{
    width: 100%;
    height: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* .reg-content textarea{
    width:70%;
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #9adfe7;
} */


/* --------------------------------new gig------------------------------------------ */
.Newgig-header{
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/aboutuswall.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    /* text-align: center; */
    color: #fff;
}
.Newgig-header .text-box{
    width: 50%;
    color: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.Newgig-header .text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}
.Newgig-header h1{
    font-size: 40px;
    margin-top: 100px;
}

.Newgig-page .reg-content {
    /* position: relative; */
    background-color: #fefefe;
    margin: 1% auto 1% auto;
    border: 1px solid #888;
    width: 80%;
}

/*centre the display image inside the container*/
.Newgig-page .reg-content .imgcontainer{
    text-align: center;
    margin: 18px 0 18px 0;
    position: flex;
}
.Newgig-page .reg-content .imgcontainer .close {
    position: absolute;
    right: 8%;
    top: 7%;
    color: #f44336;
    font-size: 35px;
    font-weight: bold;
}

.Newgig-page .reg-content .piccontainer{
    text-align: center;
    justify-content: center;
    display: flex;
    height: 450px;
    width: 100%;
    margin-top: 20px;
}
.Newgig-page .reg-content .piccontainer .picfigure{
    /* background-color: #f44336; */
    border: solid;
    border-color: #e15c2bd7 ;
    border-width: 1px;
    height: 400px;
    width: 600px;
    /* left: 50%; */
    text-align: center;
    position: absolute;
    /* border-radius: 50%; */
    overflow: hidden;
}
.Newgig-page .reg-content .piccontainer .picfigure:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

/*set image properties*/
.Newgig-page .reg-content .piccontainer .avatar{
    height: 100%;
    width: 100%;
}

.Newgig-page .reg-content .piccontainer .picfigure #file{
    display: none;
}
.Newgig-page .reg-content .piccontainer .picfigure #uploadbtn{
    height: 35px;
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
}
.Newgig-page .reg-content .piccontainer .picfigure #uploadbtn:hover{
    color:#f44336;
}


.Newgig-page .reg-content .container label{
    margin-top: 14px;
}

.Newgig-page .reg-content .container input[type=submit]{
    background-color: #de4812d7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.Newgig-page .reg-content .container input[type=password] {
    color: #000;
}
.Newgig-page .reg-content .imgcontainer h1{
    margin-top: 40px; 
    color: #de4812d7;
}

/*set extra style for the cancel button*/
.Newgig-page .reg-content .container .cancelbtn {
    width: auto;
    margin-top: 5px;
    padding: 10px 18px;
    color: #fff;
    background-color: #de4812d7;
    border: none;
    right:0;
}


/*set padding to the container*/
.Newgig-page .reg-content .container {
    padding: 16px;
}

/*set the forgot password text*/
.Newgig-page .reg-content span .psw {
    padding-top: 16px;
}
.Newgig-page .reg-content .container .row{
    width: calc(100% / 2 - 100px);
    margin-top: 5%;
    display: inline-block;
    justify-content: space-between;
    padding: 12px 20px;
    margin: 20px 20px;
}
.Newgig-page .reg-content .container .rowprofile{
    width: 100%;
    margin-top: 5%;
    display: block;
    /* align-items: center; */
    justify-content: center;
    padding: 12px 20px;
    margin: 20px 20px;
}
.Newgig-page .reg-content .container .row input[type=text],
.Newgig-page .reg-content .container .row input[type=password],
.Newgig-page .reg-content .container .row input[type=email]{
    width: 100%;
    height: 45px;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.Newgig-page .reg-content .container .donthacc{
    justify-content: center;
    display: flex;
}

.Newgig-page .reg-content .container .row textarea{
    width: 100%;
    height: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* ---------------------------------request_page----=--------------------------- */

.emppovuser_header{
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/homepic.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.emppovuser_header .text-box{
    width: 50%;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 25%;
}
.emppovuser_header h1{
    font-size: 40px;
    margin-top: 100px;
    color:#fff ;
}
/* .emppovuser_header .text-box h1{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
} */
.emppovuser_header .text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}
.detailbody{
    margin-top: 40px;
    padding: 0 5%;
}
.employeedetails{
    width: 100%;
    /* height: 600px; */
    background-color: rgb(235, 234, 234);
    border: solid;
    border-color: #888;
    border-width: 1px;
    display: flex;
    justify-content: space-between;
} 
.employeedetails img{
    /* margin-top: 20px; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
} 
.employeedetails .img_name{
    width:30%;
    text-align: center;
    padding: 20px 10px;
    margin: 30px 50px;
} 
.employeedetails .img_name label{
    font-weight: 600;
    margin-bottom: 30px;
} 

.employeedetails .img_name i{
    color: #FFD700;
} 
.employeedetails .profrating{
    text-align: center;
} 
.employeedetails .description{
    width:60%;
    margin-bottom: 10px;
    /* text-align: center; */
}
.employeedetails .description a{
    text-decoration: none;
    color: #000;
}
.employeedetails .description a:Hover{
    color: #008b8b;
}
.employeedetails .description p{
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0px;
}
.employeedetails .description .skillset{
    display: flex;
    font-size: 18px;
}
/* .employeedetails .description .skillset h4{
    font-size: 18px;
} */
.employeedetails .description .buttonset {
    text-align: center;
    justify-content: space-between;
    display: flex;
    padding: 30px 140px;
}
.employeedetails .description .buttonset {
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 30px 140px;
}

.employeedetails .description .contactbtn {
    border: none;
    /* border-radius: 7%; */
    color: #fff;
    width: 200px;
    padding: 10px 18px;
    background-color: #15a894d7;
}
.gigcard{
    margin: 1% auto 1% auto;
    width: 90%;
}
/* -----------------------------------------------profile----------------------------------------- */

/*assign full width inputs*/
.modal-content .container2 input[type=text],
.modal-content .container2 input[type=password],
.modal-content .container2 input[type=email]{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    /* display: inline-block; */
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.modal-content .container2 textarea{
    width: 92%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    /* display: inline-block; */
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.modal-content .container2 .conrow input[type=password],
.modal-content .container2 .conrow input[type=email]{
    display: flex;
}
.modal-content .container2 .tabspace{
    padding-right:134px;
}
.modal-content .container2 .conrow{
    justify-content: space-between;
    display: flex;
}
.modal-content .container2 .remforgot{
    justify-content: space-between;
    display: flex;
}
.modal-content .container2 .remforgot .forp{
    align-items: end;
    display: flex;
}
.modal-content .container2 .conrow input[type=text],
.modal-content .container2 .conrow input[type=password]{
    right: 0;
}
.modal-content .container2 label{
    margin-top: 14px;
}
.modal-content .container2 .donthacc{
    justify-content: center;
    display: flex;
}
.modal-content .container2 button{
    background-color: #15a894d7;
    color: white;
    padding: 14px 20px;
    margin: 24px 0 18px;
    border: none;
    cursor: pointer;
    width: 100%;

}
.modal-content .container2 input[type=password] {
    color: #000;
}


/*set extra style for the cancel button*/
.modal-content .container2 .cancelbtn {
    width: 300px;
    padding: 10px 18px;
    background-color: #15a894d7;
    
}
.container2 {
    padding: 50px 70px;
    margin-bottom: 10px;
}